<div class="container">
    <div class="row">
        <div class="col-md-2">
          
 <!-- Vertical Steppers -->
<div class=" row mt-1">
        <div class="mx-3 col-md-9">
      
          <!-- Stepers Wrapper -->
          <ul class="p-0 stepper stepper-vertical">
      
            <!-- First Step -->
            <li class="active">
              <a href="#!">
                <span class="circle">1</span>
                <span class="label">Basics</span>
              </a>
            </li>
      
            <!-- Second Step -->
            <li>
      
              <!--Section Title -->
              <a href="#!">
                <span class="circle">2</span>
                <span class="label">Location</span>
              </a>
      
              <!-- Section Description -->
               
                
                 
            </li>
      
            <!-- Third Step -->
            <li class="warning">
              <a href="#!">
                <span class="circle"><mdb-icon fas icon="exclamation"></mdb-icon></span>
                <span class="label">Third step</span>
              </a>
            </li>
      
            <!-- Fourth Step -->
            <li>
              <a href="#!">
                <span class="circle">4</span>
                <span class="label">Fourth step</span>
              </a>
            </li>
      
          </ul>
          <!-- /.Stepers Wrapper -->
      
        </div>
      </div>
      
      <!-- Steppers Navigation -->
      
      <!-- /.Vertical Steppers -->
            </div>
            <div class="col-md-10 mt-5">
                    <router-outlet></router-outlet>
            </div>
            </div>
            </div>