 <!-- frist div for topic -->
 <div class="homediv p-4">
<div class="container  "> 

    <div class="row">
         
            <div class="col-md-9 p-0">
                <h3 class="font-weight-bolder mt-4">Match your property to the right travelers</h3>
                <p>All information is required unless marked optional.</p>
            </div>
            <div class="col-md-3 ">
                
                <img src="../../../../assets/travellers.webp" class="img-fluid" alt="Responsive image">
            </div>
        
    </div>
</div>
 <!-- frist div for topic -->
  <div class="mx-3">propert</div>
  <!-- basic information -->
  <div class="container ">
    <div class="row">
        <div class="col-md-9 p-4 white border border-default-color rounded mb-0">
            <div  >proprty type</div>
        <div class="container mt-2">
            <div class="row itembox">
                <div class="col-2 ">
                        <mdb-icon fas icon="hotel" size="3x"></mdb-icon>
                        <p>Hotel</p>
                </div>
                <div class="col-2 ">
                        <mdb-icon fas icon="home" size="3x"></mdb-icon>
                        <p>House</p>
                </div>
                 
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="md-form">
                            <input mdbInput type="text" name="text" [(ngModel)]="text" id="form1" class="form-control">
                            <label for="form1" class="">jetwine</label>
                            <p>property name</p>
                          </div>
                        </div>
            </div>
        </div>
        
        </div>
        <div class="col-md-3">

        </div>
    </div>
  </div>
</div>