<!-- frist div for topic -->

<div class="homediv p-4">
<form [formGroup]="basicform">
    <div class="container  ">

        <div class="row">

            <div class="col-md-9 p-0">
                <h3 class="font-weight-bolder mt-4">Match your property to the right travelers</h3>
                <p>All information is required unless marked optional.</p>
            </div>
            <div class="col-md-3 ">

                <img src="../../../../assets/travellers.webp" class="img-fluid" alt="Responsive image">
            </div>

        </div>
    </div>
    <!-- frist div for topic -->
    <div class="mx-3">propert</div>
    <!-- basic information -->
    <div class="container ">
        <div class="row">
        <div class="col-md-9 p-4 white border border-default-color rounded mb-0">
                <div>proprty type</div>
                <div class="container mt-2">
                    <div class="row itembox">
                        <div class="col-2 divbox" #divbox1 (click)=property_type1(divbox1,divbox2)>
                             <mdb-icon fas icon="hotel" size="3x"></mdb-icon>
                            <p>Hotel</p>
                        </div>
                        <div class="col-2 divbox" #divbox2 (click)=property_type2(divbox1,divbox2)>
                            <mdb-icon fas icon="home" size="3x"></mdb-icon>
                            <p>House</p>
                        </div>

                    </div>
                </div>

                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="md-form">
                                <input formControlName="pname" mdbInput type="text" id="form1" class="form-control">
                                <label for="form1" class="">Property Name</label>
                            </div>
                        </div>
                    </div>
                </div>
                

            </div>
            <div>

            </div>
        </div>
    </div>

     


    <div class="mx-3 mt-5">Location</div>
    <div class="container">
        <div class="row">
            <div class="col-md-9 p-4 white border border-default-color rounded mb-0">
                <div class="md-form">
                    <input formControlName="sadress" mdbInput type="text" id="form2" class="form-control">
                    <label for="form2" class="">Street address</label>
                </div>

                <div class="md-form">
                    <input formControlName="village" mdbInput type="text" id="form3" class="form-control">
                    <label for="form3" class="">Village</label>
                </div>

                <div class="md-form">
                        <input formControlName="city" mdbInput type="text" id="form4" class="form-control">
                        <label for="form4" class="">City</label>
                </div>
                    <!-- map api openlayer -->
                <div id="map" class="map"></div>


            </div>
            <div class="col-md-3"></div>
        </div>
    </div>
</form>
    <div class="container">
        <div class="row">
            <div class="col-md-9">
                    <div class="row mt-3 d-flex justify-content-end">
                            <div >
                              <button mdbBtn flat="true"  size="sm">Cancel</button>
                              <button mdbBtn color="primary" size="sm" (click)="submitPropertyForm()">Next</button>
                            </div>
                          </div>
            
            </div>
            <div class="col-md-3">
                    
            </div>
        </div>
    </div>

</div>