<div class="container-fluid basicdiv">
    <div class="row">
        <div class="col-md-12 teal lighten-1 mt-3 fristdiv">
        <form>
            <div class="w-25 mx-5  mt-4 datepicdiv white p-3">
                <div class=""> 
                    
                       <h4 class="font-weight-bold"> Find a place to stay</h4>
                       <h6 >Destinations and properties around the world...</h6>
                </div>
                <div class="">
                        <input type="email" id="defaultLoginFormEmail" class="form-control mb-4" placeholder="E-mail">

                </div>
                <div class=" datepicker d-flex justify-content-between ">
                    <div class="blue"><input class="m-0 green" type="date" name="bday"></div>
                    <div ><input class="m-0 orange" type="date" name="bday1"></div>
                </div>
                <div>
                    rw
                </div>
            </div>

        </form>
            <!-- <form>
                 <input class="mt-5" type="date" name="bday">
                
              </form> -->
        </div>
    </div>
</div>
