 .fristdiv{
     height: 390px;
     background-image: url('../../assets/mount.jpg');
  
 }
 .datepicdiv{
     height: 360px;
     width: 25.33%;
 }
 .datepicker > div{
    width: 50%;
 }
 .datepicker > div> input{
     width: 100%;
 }
  