 .fristdiv{
     height: 350px;
     background-image: url('../../assets/mount.jpg');
  
 }
 .datepicdiv{
     height: 280px;
 }
 .datepicker > div{
    width: 40%;
 }
 .datepicker > div> input{
     width: 200px;
 }
  