.homediv{
    background-color: #fcf9f9
}

.divbox:hover{
background-color: #2BBBAD
}
@media all and (min-width: 768px) {
    tr  {
      td {
        vertical-align: middle !important;
      }
      span {
        &:not([class]) {
          padding: 1rem 1rem;
        }
      }
    }
  }