 <!-- frist div for topic -->

<div class="homediv p-4">
    <form>
        <div class="container  ">

            <div class="row">

                <div class="col-md-9 p-0">
                    <h3 class="font-weight-bolder mt-4">All the little things (and big things) you provide.</h3>
                    <p>What comes with your home?</p>
                </div>
                <div class="col-md-3 ">

                    <img src="../../../../assets/service.jpg" class="img-fluid" alt="Responsive image">
                </div>

            </div>
        </div>
        <!-- frist div for topic -->
        <div class="mx-3"><h5>Facilities</h5></div>
        <!-- basic information -->
        <div class="container ">
            <div class="row">
                <div class="col-md-9 p-4 white border border-default-color rounded mb-0">


                </div>
                <div class="col-md-3">
                    
                </div>
            </div>
        </div>




        <div class="mx-3 mt-5">Location</div>
        <div class="container">
            <div class="row">
                <div class="col-md-9 p-4 white border border-default-color rounded mb-0">



                </div>
                <div class="col-md-3"></div>
            </div>
        </div>
    </form>
    <div class="container">
        <div class="row">
            <div class="col-md-9">
                <div class="row mt-3 d-flex justify-content-end">
                    <div>
                        <button mdbBtn flat="true" size="sm">Cancel</button>
                        <button mdbBtn color="primary" size="sm">Next</button>
                    </div>
                </div>

            </div>
            <div class="col-md-3">

            </div>
        </div>
    </div>

</div>